body {
            			background:#CD853F;
           		 }
			h1{
				text-align: center;
				display: inline-block;
				margin-left: 10px;
			}
			#amizade {
				margin-left: 350px
			}
			.cavalinho {
				text-align: center;	
			}
