body {
            			background:#F0F8FF;
           		 }
#logo{
	display: inline-block;
}
			h1{
				text-align: center;
				display: inline-block;
				margin-left: 10px;
				vertical-align: center;
			}
			#amizade {
				margin-left: 350px
			}
			.cavalinho {
				text-align: center;	
			}
